h1 {
    text-align: center;
}

.dayline {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: #eee;
}

.today {
    background: #ffd0ee;
}

.monthlabel {
    padding: 10px;
    font-weight: bold;
    border-left: 7px solid tomato;
    border-top: 1px solid tomato;
}

button {
    outline: none;
    border-radius: 8px;
}

.prevbtn {
    position: fixed;
    bottom: 2px;
    left: 2px;
}

.nextbtn {
    position: fixed;
    bottom: 2px;
    right: 2px;
}